h1 {
  margin-bottom: 32px;
  text-align: center;
}

#cozinha h2 {
  margin-bottom: 32px;
}

#cozinha h3 {
  margin-bottom: 12px;
}

#cozinha .risotos {
  margin-bottom: 32px;
}

#cozinha p {
  margin-bottom: 32px;
}

#massas-e-arrozes,
#sobremesas,
#peixes,
#carnes,
#kids {
  padding-top: 8px;
}

.classificacao {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 40px;
}

.classificacao a {
  color: #ffffff;
  font-size: 0.875rem;
  text-transform: uppercase;
  background-color: rgb(97, 20, 20);
  padding: 8px 16px;
  border-radius: 4px;
}

.classificacao a:hover {
  background-color: rgb(82, 10, 10);
}

@media (max-width: 800px) {
  h1 {
    padding-top: 0;
    margin-bottom: 20px;
  }
  #cardapio-cozinha h2 {
    margin-bottom: 20px;
  }

  #cardapio-cozinha h3 {
    margin-bottom: 8px;
  }

  #cardapio-cozinha .risotos {
    margin-bottom: 16px;
  }

  #cardapio-cozinha p {
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  #cardapio-cozinha h1 {
    margin-bottom: 16px;
  }
  #cardapio-cozinha h2 {
    margin-bottom: 20px;
  }
  #cardapio-cozinha h3 {
    margin-bottom: 8px;
  }

  #cardapio-cozinha .risotos {
    margin-bottom: 16px;
  }

  #cardapio-cozinha p {
    margin-bottom: 20px;
  }
}
